---
import type { PlaneData } from "@/data/types.d.ts";

import Layout from '../layouts/Layout.astro';
const planes = await Astro.glob("../data/*.json") as PlaneData[];
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<h1>Easy Checklist</h1>
		</header>
		<section>
			<h2>Select a plane model to view the checklist</h2>
			<ul>
				{
					planes.map(planeData => {
						return (
							<li>
								<a href={`/${planeData.id}`}>{planeData.name}</a>
							</li>
						)
					})
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	
</style>
